body{font-family: 'Acme', sans-serif;}
h1{
    font-size: 60px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 30px;
    color: grey;
    text-align: justify;
}
.name{
    color: tomato;
}
#hire{
    background-image: linear-gradient(red, rgba(60, 255, 0, 0.884));
    padding: 7px 40px; 
    text-decoration: none;
    border-radius: 5px;
    color: aliceblue;
    font-size: 30px;
}
section{
    display:flex ;
}
.half-width{
    width: 50%;
    padding-left: 80px;
    padding-right: 60px;
    
}
.half-width img{
    width: 80%;
    
}
.top-banner{
    background-image: url(image/top-banner.png);
    padding-top: 40px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
}
#hola{
    padding-right: 60px;
}
.ex-item{
    box-shadow: 10px 10px 40px grey;
    padding: 60px;
    width: 50%;
    margin-left: 5%;
    margin-left: 5%; 
}
.holla{
    background-image: url(image/ula.png);
    background-repeat: no-repeat;
}
#one{
    border-left: 20px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
}
#two{
    border-left: 20px solid;
    border-image: linear-gradient(blue, green);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: red;
    padding: 200px;
}